<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="오딧세이조합법"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Uparumaking"
        tools:targetApi="35">
        <activity
            android:name=".activity.BreedingPairListActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SelectAffinityUparuActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SelectSecondParentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.SelectFirstParentActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UparuAffinityActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.BreedingResultActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.BreedingTimeListActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UparuDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".activity.UparuListActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.ElementSelectActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>